﻿@using EcommerceChitarre.Models
@model Users
@{
    ViewBag.Title = "Login";
}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="me-3 scale-in-ver-center">
                <img src="~/Content/Assets/MusicStore.png" alt="music login" class="w-75 img-fluid" />
            </div>
        </div>

        <div class="col-6">
            <div style="font-family:Comfortaa, sans-serif;">
                <h2>
                    Login
                </h2>

            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                if (TempData["ErrorLogin"] != null)
                {
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        Le credenziali non sono corrette
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }



                <div class="mb-3">
                    @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.Password, new { @class = "form-label" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                </div>


                <button type="submit" class="btn btn-success text-center mb-2">Login</button>
            }
            <div class="col-12">
                <p class="mt-3">Non sei <b>Registrato?</b></p>
                <a href="@Url.Action("Create", "Users")" class="btn btn-primary">Registrati</a>
            </div>
        </div>

    </div>


</div>