@using EcommerceChitarre.Models
@model Users
@{
    ViewBag.Title = "Login";
}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="me-3 scale-in-ver-center">
                <a href="@Url.Action("Index", "Home")"><img src="https://us.123rf.com/450wm/khabarushka/khabarushka1803/khabarushka180300859/98204952-violino-di-batteria-guital-etichetta-con-logo-del-negozio-di-musica-set-di-strumenti-musicali.jpg?ver=6s" alt="music login" class="w-75 img-fluid"  /></a>
            </div>
        </div>

        <div class="col-6">
            <h2>Login</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                if (TempData["ErrorLogin"] != null)
                {
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        Le credenziali non sono corrette
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }



                <div class="mb-3">
                    @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.Password, new { @class = "form-label" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                </div>


                <button type="submit" class="btn btn-success text-center mb-2">Login</button>
            }
            <div class="col-12">
                <p class="mt-3">Non sei <b>Registrato?</b></p>
                <a href="@Url.Action("Create", "Users")" class="btn btn-primary">Registrati</a>
            </div>
        </div>

        </div>


    </div>

