<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - MusicShop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />


</head>
<body>
    <div class="d-flex flex-column min-vh-100" style=" font-family:Beb as Neue, sans-serif;">

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm r-navbar text-white sticky-top">
            <div class="container d-flex justify-content-between ">
                <div class="d-flex align-items-center wobble-hor-top brand-tlt ">
                    <a class="navbar-brand brand-tlt text-white" href="@Url.Action("Index", "Home", new { @class ="font-family"})">
                        Music Shop
                    </a>

                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Amministratore"))
                        {


                            <li>@Html.ActionLink("Articoli", "Index", "Articoli", new { area = "" }, new { @class = "nav-link text-white " })</li>
                            <li>@Html.ActionLink("Ordini", "Index", "Ordini", new { area = "" }, new { @class = "nav-link text-white" })</li>
                            <li>@Html.ActionLink("Ordini Pagati", "OrdiniEvasi", "Admin", new { area = "" }, new { @class = "nav-link text-white" })</li>
                            <li>@Html.ActionLink("Totale Incassato", "TotaleIncassato", "Admin", new { area = "" }, new { @class = "nav-link text-white" })</li>


                        }
                        else if (User.IsInRole("Cliente"))
                        {

                            <li>@Html.ActionLink("Articoli", "Index", "Articoli", new { area = "" }, new { @class = "nav-link text-white" })</li>
                            <li>@Html.ActionLink("I tuoi Ordini", "Details", "Ordini", new { id = User.Identity.Name }, new { @class = "nav-link text-white" })</li>
                        }

                    </ul>

                </div>

                <div class="jello-horizontal">
                    <ul class="navbar-nav">

                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Cliente"))
                            {
                                <li class="nav-item"><span class="material-symbols-outlined">@Html.ActionLink("shopping_cart", "Cart", "OrdArts", new { area = "" }, new { @class = "nav-link text-white font-family margin-right" })   </span></li>

                            }
                            <li class="nav-item">@Html.ActionLink("Logout", "Logout", "Auth", new { area = "" }, new { @class = "nav-link btn btn-dark text-white font-family" })</li>
                        }
                        else
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Login", "Login", "Auth", new { area = "" }, new { @class = "nav-link btn btn-success text-white font-family" })
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>



        <div class="container body-content flex-grow-1">
            @RenderBody()


        </div>

     

        <hr />

   
        <footer class="mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Contatti</h5>
                        <p>Piazza della Musica, 20</p>
                        <p>Telefono: 0832797979</p>
                        <p>Email: music@shop.it</p>
                    </div>
                    <div class="col-md-4">
                        <h5>Orari</h5>
                        <p>Lunedì - Sabato: 08:30 - 12:30 / 16:30 - 20:00</p>
                    </div>
                </div>
                <hr class="bg-white" />
                <div class="text-center">
                    <p>@DateTime.Now.Year - <b>Music Shop &reg;</b></p>
                </div>
            </div>
        </footer>
    </div>
 
  


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
