<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - MusicShop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap">
</head>
<body>
    <div class="d-flex flex-column min-vh-100">

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  r-navbar text-white sticky-top">
            <div class="container d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <a class="navbar-brand brand-tlt text-white" href="@Url.Action("Index", "Home")">
                        Music Shop
                    </a>
                 
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Amministratore"))
                        {
                            <li>@Html.ActionLink("Ordini", "Index", "Ordini", new { area = "" }, new { @class = "nav-link text-white" })</li>
                            <li>@Html.ActionLink("Totale Ordini Pagati", "OrdiniEvasi", "Admin", new { area = "" }, new { @class = "nav-link text-white" })</li>
                            <li>@Html.ActionLink("Totale Incassato", "TotaleIncassato", "Admin", new { area = "" }, new { @class = "nav-link text-white" })</li>


                            <li>@Html.ActionLink("Articoli", "Index", "Articoli", new { area = "" }, new { @class = "nav-link text-white" })</li>
                        }
                        else if (User.IsInRole("Cliente"))
                        {

                            <li>@Html.ActionLink("Articoli", "Index", "Articoli", new { area = "" }, new { @class = "nav-link text-white" })</li>
                            <li>@Html.ActionLink("I tuoi Ordini", "Details", "Ordini", new { id = User.Identity.Name }, new { @class = "nav-link text-white" })</li>
                        }
                    </ul>

                </div>

                <div>
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Cliente"))
                            {
                                <li class="nav-item">@Html.ActionLink("Il tuo Carrello", "Cart", "OrdArts", new { area = "" }, new { @class = "nav-link text-white" })</li>
                            }
                            <li class="nav-item">@Html.ActionLink("Logout", "Logout", "Auth", new { area = "" }, new { @class = "nav-link text-white" })</li>
                        }
                        else
                        {
                            <li class="nav-item">@Html.ActionLink("Login", "Login", "Auth", new { area = "" }, new { @class = "nav-link text-white" })</li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

        <div class="p-5 text-white bg-dark text-center">
            <h1>Benvenuto al Music Shop</h1>

        </div>


        <div class="container body-content flex-grow-1">
            @RenderBody()


        </div>

        <hr />
        <footer class="mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Contatti</h5>
                        <p>Piazza della Musica, 20</p>
                        <p>Telefono: 0832797979</p>
                        <p>Email: music@shop.it</p>
                    </div>
                    <div class="col-md-4">
                        <h5>Orari</h5>
                        <p>Lunedì - Sabato: 08:30 - 12:30 / 16:30 - 20:00</p>
                    </div>
                </div>
                <hr class="bg-white" />
                <div class="text-center">
                    <p>@DateTime.Now.Year - <b>Music Shop &reg;</b></p>
                </div>
            </div>
        </footer>
    </div>
 
  


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
