@model EcommerceChitarre.Models.Ordini

@{
    ViewBag.Title = "Delete";
}

<div class="text-center" style="font-family: Comfortaa, sans-serif;">
    <h2>
        Elimina Ordine
    </h2>

</div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Users.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoCons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoCons)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-danger" />

   
        @Html.ActionLink("Torna alla Lista", "Index", null, new { @class = "btn btn-success" })
   
</div>
    }

