@model List<EcommerceChitarre.Models.OrdArt>

@{
    ViewBag.Title = "Dettagli Ordine";
}

<h2 class="my-4">Dettagli Ordine</h2>


<p><strong>Nome:</strong> @Model[0].Ordini.Users.Nome</p>
<p><strong>Cognome:</strong> @Model[0].Ordini.Users.Cognome</p>
<p><strong>Indirizzo:</strong> @Model[0].Ordini.Indirizzo</p>
<p><strong>Note:</strong> @Model[0].Ordini.Note</p>
<p><strong>Costo Consegna: € </strong> @Model[0].Ordini.CostoCons</p>



@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Articolo</th>
                <th>Quantità</th>
                <th>Prezzo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Articoli.Nome</td>
                    <td>@item.Quantita pz.</td>
                    <td>€ @item.Articoli.Prezzo</td>
                </tr>
            }
            <tr>
                <td style="height:75px; vertical-align: bottom;" colspan="2"><strong>Prezzo Totale:</strong></td>
                <td style="vertical-align: bottom;">
                    € @(Model.Sum(item => (item.Articoli.Prezzo * item.Quantita)) + Model.FirstOrDefault().Ordini.CostoCons)
                </td>
            </tr>

        </tbody>
    </table>
    <div>
        <a href="/Ordini/Details/@User.Identity.Name" class="btn btn-primary my-3">Torna allo Storico</a>
    </div>

}
else
{
    <p>Nessun articolo trovato per questo ordine.</p>
}