@model EcommerceChitarre.Models.Articoli

@{
    ViewBag.Title = "Delete";
}



<h3>Sei sicuro di rimuovere questo articolo?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tempo_Cons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tempo_Cons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dettagli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dettagli)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-danger" />
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>
    }
</div>
